<?xml version="1.0" ?>
<model>
    <name>ComplexAquaShokoLongLeg</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <gazebo>
      <plugin name='gazebo_ros_control' filename='libgazebo_ros_control.so'>
        <robotNamespace>/aquashoko</robotNamespace>
      </plugin>
    </gazebo>

    <author>
        <name></name>
        <email></email>
    </author>
    <description></description>
</model>
